<ion-view view-title="" can-swipe-back="true"  hide-nav-bar="true" class="registerpage-wrap">
    <ion-content overflow-scroll="true">
        <div class="ionic-body" data-fittext>
           <!-- <div class="bar bar-header bar-light">
                <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="myGoBack()"></a><h1 class="title">Settings</h1>
                <button class="button button-icon icon ion-navicon" ng-click="toggleSideMenu()"></button>
            </div>-->
            <div zooming="true" direction="xy" style="margin-top:2px;" >
                <div class="content has-header scrollVertical" >
                    <form name="passwordChangeForm" class="register-form">
                        <div class="list">
                            <!-- <label class="item item-input item-floating-label">-->
                            <span class="" style="color: #ffffff; font-size: 16px">Forgot Password</span>

                            <!-- </label>-->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Email</span>
                                <input type="email" placeholder="Email" ng-model="obj.email" name="email" required>
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">New Password</span>
                                <input type="password" placeholder="New Password" ng-model="obj.NewPassword" name="email" required>
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Confirm Password</span>
                                <input type="password" placeholder="Confirm Password" ng-model="obj.ConfirmPassword" name="password" required>
                            </label>

                        </div>

                    </form>

                    <a class="button button-block button-royal button-positive" ng-disabled="passwordChangeForm.$invalid"  ng-click="changePassword(obj)">Change</a>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
